
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

imroz{
    float: left;
}

li a {
  /*display: block;*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

p {
  font-family: "Sofia", sans-serif;
  font-size:40px;
  text-align: center;
  color: rgb(110,80,250);
  background-color: none;
  background-color:rgb(60, 60, 60)

}

#anu{
  background-color:rgb(60, 60, 60)
}

#h{
  color: white; 
  text-size:40px;
  position: fixed;
  bottom: 370px;
  right: 490px;
  width: 300px;
}


#two{
  text-align: left;
  color: gray;
  font-size: 15px;

}


#four{
  float: right;
  color: gray;
  font-size: 15px;

}

#five{
   position: fixed;
  bottom: 300px;
  right: 20px;
  width: 300px;
}

.material-icons1{
  "top:100px;
  bottom: 400px;
  right: 50px;
  float:right;
  font-size:40px;
  color:red;"
}

#page2{
  background-color:white;
}

#scream{
  width: 220;
  height: 290;
  position:relative;
  margin-left:250px;
}

#three{
  color: gray;
  font-size: 15px;
  float: center;
  position:fixed;
  bottom: 300px;
  right: 540px;
  width: 300px;
}


#h2{
  color: white; 
  text-size:40px;
  position:fixed;
  bottom: 380px;
  right:1px;
  width: 300px;
}

#para{
float:right;
color: gray;
font-size: 15px;
background-color: white;
padding-right:250px;
padding-top: 40px;

}


.grid-container {
  display: grid;
  height:5px;
  align-content: start;
  grid-template-columns: auto auto auto;
  grid-gap: 300px;
  background-color:white;
  padding: 50px;
  top: 250px;
}

.grid-container > div {
  background-color: white;       /*rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

#p{
text-size: 15px;
color: gray;

}